body{
    background-color: gainsboro;
}
.container{
    height:200px;
}
.container1{
    height:200px;
    padding-left: 120px;
    padding-right: 120px;
}

.container-fluid1{
    background-color: white;
    height: 350px;
}
.footer{
    height: 35px;
    background-color: white;
    padding-left: 125px;
}

.success {
    background-color: black;
    border-color: #4CAF50;
    color: green;
}

.secondary{
    background-color: dimgrey;
    color: white;
}





